.Frm {
    width     : 300px;
    background: linear-gradient(to top, rgb(179, 192, 0), rgb(80, 16, 153));
    min-height: 60vh;
    display   : flex;

    margin       : 3px auto;
    margin-top   : 32px;
    position     : relative;
    border-radius: 12px;
    box-shadow   : 6px 6px 5px rgb(70, 70, 15);
}

.Frm form {
    width           : 100%;
    background-color: inherit;
}

.Frm button {
    display         : inline-block;
    margin          : 0 auto;
    font            : inherit;
    background-color: transparent;
    border          : 1px solid rgb(65, 5, 114);

    color        : rgb(65, 5, 105);
    position     : absolute;
    left         : 6%;
    bottom       : 6%;
    border-radius: 3px;
    transition   : all ease 0.2s;
    min-width    : 30%;
}


.Frm button:hover {
    background-color: rgb(48, 0, 94);
    box-shadow      : 0 0 6px red;
    color           : lightcyan;
    border-color    : transparent;
    cursor          : pointer;
}

.Switcher {
    background-color: transparent;
    cursor          : pointer;
    border-radius   : 3px;
    padding         : 0 3px;
    position        : absolute;
    right           : 6%;
    bottom          : 6%;
    color           : rgb(104, 69, 17);
    border-bottom   : 3px solid transparent;

    padding      : 3px;
    border-radius: 5px;
}


.Switcher:hover {
    cursor      : pointer;
    border-color: rgba(77, 4, 95, 0.432);
    box-shadow  : 0px 0px 2px rgb(91, 4, 109);
    color       : rgb(68, 29, 87)
}