.Frm {
    width           : 300px;
    background-color: rgb(255, 217, 0);
    min-height      : 60vh;
    display         : flex;

    margin    : 3px auto;
    margin-top: 32px;
    position  : relative;

}

.Frm form {
    width           : 100%;
    background-color: inherit;
}

.Frm button {
    display         : inline-block;
    margin          : 0 auto;
    font            : inherit;
    background-color: transparent;
    border          : 1px solid yellow;

    color        : indianred;
    position     : absolute;
    left         : 6%;
    bottom       : 6%;
    border-radius: 3px;
    transition   : all ease 0.2s;
    min-width    : 30%;
}


.Frm button:hover {
    background-color: lightcoral;
    box-shadow      : 0 0 6px red;
    color           : lightcyan;
    border-color    : transparent;
    cursor          : pointer;
}

.Switcher {
    background-color: transparent;
    cursor          : pointer;
    border-radius   : 3px;
    padding         : 0 3px;
    position        : absolute;
    right           : 6%;
    bottom          : 6%;
    color           : rgb(4, 117, 117);
    border-bottom   : 3px solid transparent;
    border-top      : 3px solid transparent;
    padding         : 3px;
    border-radius   : 5px;
}


.Switcher:hover {
    cursor      : pointer;
    border-color: teal;
    box-shadow  : 0 0 12px teal;

}