.InputPair {
    background-color: inherit;
    display         : flex;
    background-color: inherit;
    width           : 90%;
    justify-content : space-between;
    margin          : 23px auto;
    flex-direction  : row-reverse;
}

.InputPair label {
    background-color: inherit;
    color           : #fff;
}

.InputPair input {
    background-color: inherit;
    outline         : none;
    border          : none;
    border          : 1px solid rgb(252, 252, 252);
    border-radius   : 3px;
}
